html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.lbp-container {
  font-size: 11px;
  font-family: verdana, arial, helvetica, sans-serif;
  position: relative;
}
.lbp-container .lbp-inner {
  position: relative;
}
.lbp-container .time-line {
  overflow: hidden;
  border: 1px solid #ccc;
  color: #fff;
}
.lbp-container .time-table {
  position: relative;
}
.lbp-container .time-table .rows {
  white-space: nowrap;
}
.lbp-container .time-table .columns {
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
}
.lbp-container .time-table .row {
  stroke: #ccc;
  stroke-width: 0.5;
}
.lbp-container .time-table .col {
  stroke: #ccc;
  stroke-width: 0.5;
}
.lbp-container .year-line {
  background-color: #000000;
  font-size: 20px;
}
.lbp-container .month-line {
  background-color: #333;
  font-size: 16px;
}
.lbp-container .day-line {
  background-color: #666;
}
.lbp-container .year-line,
.lbp-container .month-line,
.lbp-container .day-line {
  white-space: nowrap;
}
.lbp-container .year-line .year,
.lbp-container .month-line .month,
.lbp-container .day-line .day {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #333333;
  padding: 4px 0;
}
.lbp-container .year-line .year {
  border-color: transparent;
}
.lbp-container .day {
  border-left: 0;
}
.lbp-container .day.d6,
.lbp-container .day.d0 {
  background-color: #111;
}
.lbp-container .grid-container {
  position: relative;
  overflow: hidden;
}
.lbp-container .scroll-bar {
  border: 1px solid #ccc;
  background-color: #efefcc;
}
.lbp-container .scroll-bar .scroll-thumb {
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e7e7e7;
}
