html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lbp-container {
  font-size: 11px;
  font-family: verdana, arial, helvetica, sans-serif;
  position: relative;

  .lbp-inner {
    position: relative;
  }
  .time-line {
    overflow: hidden;
    border: 1px solid #ccc;
    color: #fff;

  }

  .time-table {

    position: relative;

    .rows {
      white-space: nowrap;
    }
    .columns {
      position: absolute;
      white-space: nowrap;
      top: 0;
      left: 0;
    }

    .row {
      stroke: #ccc;
      stroke-width: 0.5;
    }

    .col {
      stroke: #ccc;
      stroke-width: 0.5;
    }
  }

  .year-line {
    background-color: #000000;
    font-size: 20px;

  }

  .month-line {
    background-color: #333;
    font-size: 16px;

  }
  .day-line {
    background-color: #666;

  }

  .year-line, .month-line, .day-line {
    white-space: nowrap;
  }

  .year-line .year, .month-line .month, .day-line .day {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #333333;
    padding: 4px 0;
  }

  .year-line .year {
    border-color: transparent;
  }

  .day {
    border-left: 0;

  }

  .day.d6, .day.d0 {
    background-color: #111;
  }

  .grid-container {
    position: relative;
    overflow: hidden;
  }

  .scroll-bar {
    border: 1px solid #ccc;
    background-color: #efefcc;
    .scroll-thumb {
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #e7e7e7;
    }
  }

}